{% extends "index.html" %}

{% block title %}
{% endblock %}

{% block header %}
    <p>Game is in progress</p>
{% endblock %}

{% block content %}
<p>
  Your score: {{ user_score }}
  <br>
  {% for i in user_cards %}
    <img src="{{ url_for('static', filename=i) }}.svg" height="100">
  {% endfor %}
</p>

<p>
  PC score: {{ computer_score }}
  <br>
  {% for i in computer_cards %}
    <img src="{{ url_for('static', filename=i) }}.svg" height="100">
  {% endfor %}
</p>

	<table>
		<td>
			<tr>
				<form action="/get_card" method="get">
					<button class="button" type="submit" value="get_card">Get Card</button>
				</form>
			</tr>
			<tr>
				<form action="/stop" method="get">
					<button class="button" type="submit" value="stop">Stop</button>
				</form>
			</tr>
		</td>
	</table>
{% endblock %}
{# vim: set filetype=jinja: #}
