<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<style type="text/css">
	body { font-family: 'Comfortaa', cursive; background-color: #0C8F8F; color: #FFF; }
	.button {
	    background-color: #4CAF50; /* Green */
			font-family: 'Comfortaa', cursive;
			font-size: 0.8em;
	    border: none;
	    color: white;
	    padding: 1em;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    margin: 0.2em;
	    cursor: pointer;
	}
	img { border-radius: 5px; padding: 2px; border: 2px solid #FFF; }
	</style>
	<title></title>
</head>
<body>
<h2><b><u>BlackJack Game</u></b></h2>
{{ address }}
{% block header %}
{% endblock %}

{% block content %}
	<form action="/start_game" method="get">
		<button class="button" type="submit" value="Start game">Start Game</button>
	</form>
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
